/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


.container-status {
  height: 50vh;
}

.row-status {
  height: 100%;
}

.ticket-form label {
  color: yellowgreen
}

.ant-layout-sider-collapsed .ticket-form {
  display: none;
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.first-i {
  left: 0%;
  position: relative;
}

.second-i {
  left: 20%;
  position: relative;
}

.third-i {
  left: 40%;
  position: relative;
}

.fourth-i {
  left: 60%;
  position: relative;
}

#components-layout-demo-top-side .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.chat-box {
  height: 200px;
  width: 18%;
  overflow: hidden;
  overflow-y: scroll;
}